VOTE_ADMIN_PASSWORD=admineresmas
VOTE_HASH_SALT=95e66b82744e5e3fd1eb42a3fd1c55555aece6269cbc564789251ef8f0bd465a

UPSTASH_REDIS_REST_URL=https://tu-redis.upstash.io
UPSTASH_REDIS_REST_TOKEN=tu-token-de-upstash

VOTE_ALLOWED_CITY=Quintanar del Rey
VOTE_ALLOWED_POSTAL_CODE=16220
VOTE_ALLOWED_COUNTRY=ES
VOTE_ALLOWED_LAT=39.345652
VOTE_ALLOWED_LON=-1.928126
VOTE_ALLOWED_RADIUS_METERS=6000
VOTE_MAX_ACCURACY_METERS=3000
